.content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
 .part{
    flex:1;
  }
}
h2{
  margin-bottom:25px;
}
button{
  background:var(--button-primary);
  color:var(--theme-color-bg);
  padding: 8px 24px;
  border-radius: 20px;
}
