.input {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--theme-white);
}

.fixed-label {
  font-size: 14px;
  height: 30px;
}

.floating-input {
  width: 100%;
  padding: 10px;
  padding-top: 24px;
  height: 80px;
  background: transparent !important;
  box-sizing: border-box;
  text-align: left;
  border:1px solid var(--theme-color-neutral-txt-secondary);

  &:focus {
    outline: none;
  }
}

.profileForm {
  .floating-input {
    border: 1px solid var(--theme-white);
  }
  .floating-label {
    color: var(--theme-label-text);
  }
}
