<div class="sign-in-container">
  <div class="sign-in-box">
    @if (!hideBioForm$()){
      <app-face-recognition-sign-in (setBiometricData)="setBiometricData($event)"></app-face-recognition-sign-in>
    }
    <div class="header">
      <div class="logo"><img src="assets/logo.png" alt=""></div>
      <div class="pass">
        <h1>{{ 'account-feature.page.sign-in.title' | translate }}</h1>
        <div class="pins">
          @for (item of pins$(); track $index) {
            <div class="pin{{item.class}}"></div>
          }
        </div>
      </div>
    </div>
    <div class="keyboard">
      <div class="alphabet">
        @for (item of alphabets; track $index) {
          <div class="action" (click)='addToPin(item)'>{{ item }}</div>
        }
      </div>
      <div class="numbers">
        @for (item of numbers; track $index) {
          <div class="action" (click)='addToPin(item)'>{{ item }}</div>
        }
      </div>
    </div>
  </div>
</div>
